.container{
  width: 600px;
  height: 500px;
  border: 3px solid black;
  margin: 30px auto;
}

div{
  border: 3px solid black;
}

.header{
  height: 15%;
  border-color: aqua;
}

.main{
  display: flex;
  height: 70%;
}

.main > div:first-child{
  width: 15%;
  border-color: orange;
}

.main > div:last-child{
  width: 85%;
  border-color: blueviolet;
}

.footer{
  height: 15%;
  border-color: chartreuse;
}