div{
  border: 3px solid black;
}

.container{
  width: 500px;
  height: 400px;
  margin: 20px auto;
}

.container > div:first-child{
  height: 20%;
  border-color: aqua;
}

.main{
  display: flex;
  height: 80%;
}

.main > div:first-child{
  width: 60%;
  border-color: blue;
}

.main > div:last-child{
  width: 40%;
  border-color: brown;

  display: flex;
  flex-direction: column;
}

.main > div:last-child > div{
  height: 100%;
}